/*general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #11296b;
}

h2 {
  color: #5e9183;
}

h3 {
  color: #11296b;
}

p {
  color: black;
}

header {
  margin: 0%;
  background-color: #99d98c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
  padding-right: 50px;
  font-weight: 500;
}

.menu nav {
  display: flex;
  align-items: center;
}

.menu nav a {
  padding: 5px;
}

.btnMenu {
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;
  color: white !important;
}

.btnMenu:hover {
  background: none;
  cursor: pointer;
  color: green !important;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown button {
  border: none;
  padding: 8px 16px;
  background-color: transparent;
  color: white;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.dropdown button:hover {
  background-color: rgba(25, 102, 19, 0.808);
}

.dropdown div {
  background-color: #fff;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  z-index: 1;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}

.dropdown:hover div {
  visibility: visible;
  opacity: 1;
}

.dropdown div a {
  display: block;
  text-decoration: none;
  padding: 8px;
  font-size: 13px;
  color: black;
  transition: 0.1s;
  white-space: nowrap;
}

.dropdown div a:hover {
  background-color: rgba(25, 102, 19, 0.808);
  color: white;
}

/*UBICACION */
.boton {
  display: inline-block;
  border-radius: 6px;
  background-color: #bea6a0;
  border: none;
  font-size: 15px;
  padding: 8px;
  width: 150px;
  margin: 5px;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px rgb(168, 164, 164);
}

#contenidoUbicacion {
  background-color: white;
  background-image: url("./imagenes/ubicacion1.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
}

.tituloUbicacion {
  text-align: center;
  margin: 2rem;
}

.mapa {
  display: flex;
  justify-content: left;
  padding: 2rem;
  margin-left: 20px;
  background-color: #f1b3a58f;
  width: 55%;
  height: 45rem;
  border-radius: 10px;
  align-items: center;
}

.ubicacion {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 25px;
  background-color: transparent;
  padding: 5rem;
  margin: 3rem;
  border-radius: 10px;
  background-color: #f1b3a540;
}

.h3u {
  color: #7d9367;
  text-align: left;
}

.parrafoUbicacion {
  text-align: center;
}

/*perfil*/
.perfil {
  width: 30%;
  height: 80%;
  float: left;
}

.profesPerf {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.proPrep {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2rem;
  line-height: 2rem;
}

.h4P {
  text-align: center;
}

.totalPerf {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.menIzqPerf {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 95%;
  width: 23%;
  margin-left: 2%;
  margin-bottom: 3rem;
}

.areaDerPerf {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 73%;
  margin-right: 2%;
  padding: 2rem;
  flex-direction: row;
  justify-content: space-evenly;
}

.supDerPerf {
  padding: 2rem;
  height: 50%;
  display: flex;
}

.profPerf {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 0.5rem;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.profPPerf {
  font-size: 2rem;
}

.psicoPerf {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.inferDerPerf {
  padding: 2rem;
  height: 50%;
  display: flex;

  align-items: center;
}

.centerP {
  display: flex;
  align-items: center;
}

.datosPersonales {
  display: flex;
  height: 50%;
  width: 100%;
  text-align: center;
  margin-right: 2%;
  flex-direction: column;
  align-items: center;
}

/*calendario*/
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.primerDia {
  grid-column-start: 3;
}

.calendario {
  width: 20rem;
  height: 50%;
}

.diaSemana {
  background: #eee;
}

.h1CP {
  text-align: center;
}

.ulCP {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.liP {
  text-decoration: none;
}

/*carrusel de imagenes*/
.carrusel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  width: 100%;
  margin: 2px;
}

.containerP {
  margin: auto;
  width: 20rem;
  height: 20rem;
  padding: 2%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.carruselP {
  position: relative;
  width: 100%;
  height: 100%;
}

.carruselP li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  background-color: #fff;
  transition: opacity 0.5s;
}

.carruselP li img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carruselP li:first-child {
  opacity: 1;
}

.carruselP li:target {
  opacity: 1;
}

.menuCarrusel {
  text-align: center;
  margin: 1rem;
}

.menuCarrusel li {
  display: inline-block;
  text-align: center;
}

.menuCarrusel li a {
  display: flex;
  color: white;
  text-decoration: none;
  background-color: rgba(185, 164, 235, 0.732);
  padding: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  font-size: 15px;
  justify-content: space-around;
  align-items: center;
}

/*grafico perfil*/
svg {
  margin: 2rem;
  border: 1px solid #000000;
}

rect {
  stroke: rgb(240, 164, 42);
  stroke-width: 2;
  fill: rgb(241, 171, 102);
}

rect:hover {
  fill: rgb(209, 95, 18);
}

.grafPerf {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/*profesionales*/
.medio {
  text-align: center;
  color: #11296B;
  font-family: 'Tangerine', cursive;
  font-size: 10vh;
}

.costado { 
  text-align: right;
  color: #11296B;
  font-family: 'Tangerine', cursive;
  font-size: 5vh;
}

.psicologo img {
  width: inherit;
}

#psicologos {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2rem;

}

.psicologo {
  text-align: center;
  width: 22%;
  margin: 1%;

}

.psicologo div img {

  width: 50%;
}

.medio2 {
  text-align: center;
  text-decoration: underline;
  color: #34A0A4;
  margin-top: 5px;
  margin-bottom: 5px;
  /*font-family: 'Tangerine';*/
  font-weight: bold;
  font-size: 5vh;
}

.align-psicologo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cajaPsicologo {
  padding: 0.5rem;
  font-size: medium ;
}


.impar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.turno{
  text-align: center;
  font-size: 18px;
  background: rgba(217, 243, 228, 0.8);
  padding: 2px;
  height: 320px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 25px;
  width: 160vh;
  margin: auto;
  
}

.boton2 {
  display: inline-block;
  border-radius: 6px;
  background-color: #f1b3a58f;
  border: none;
  font-size: 15px;
  padding: 8px;
  width: 150px;
  margin: 5px;
  color: rgb(75, 75, 75);
  cursor: pointer;
  box-shadow: 2px 2px rgb(168, 164, 164);

}
.turnocuadro{
  display: flex;
  align-content: center;
  
}

/*prof nuevo*/
.index-inicio {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.index-inicio-img{
    width: 100%;
}

.index-inicio-img img{
   width: 100%;
}

.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}

.index-inicio h1 {
    color: #11296B;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
}

.index-inicio-texto {
font-size: 15px;
}

.index-inicio-a{
    background-color: #11296B;
    border-radius: 20px;
    border: 1px solid gray;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 17px;
    width: 50%;
    height: 41px;
    margin: 13px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.index-inicio-a:hover {
    background-color: white;
    color: #11296B;
    transition: 0.2s;
    border: 1px solid #11296B;
}

.swiper-text {
    align-items: flex-start;
    padding: 25px;
}

.swiper-description{
    margin-top: 74px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: #11296b;
    margin-bottom: 15px;
}

.swiper {
    width: 85%;
    height: 400px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(235 235 235 / 80%);
    padding: 2px;
    height: 350px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 25px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.psicologo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-img {
    width: 122px;
}

.swiper-text h5{
    font-size: 15px;
}

.swiper-text p {
    font-size: 12px;
}

.swiper-text-a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    background-color: #11296B;
    border: 1px solid blue;
    text-align: center;
    padding: 7px;
    border-radius: 5px;
}

.swiper-text-a:hover {
    color: white;
}

.intro{
    display: flex;
    padding: 5rem

}
.h1i {
    padding: 1rem;
    color: #11296b;
}

.h3i {
    color: #25a83f;
}

.h1i {
    position: relative;
    text-align: center;
    color: #11296B;
    font-size: 5rem;
    font-weight: bold;


}
/*login y registrarse*/

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px;
  padding: 15px;
  background-color: #99d98c40;
}

.imagenLogin img {
  height: 450px;
}

.imagenLogin img {
  height: 510px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 40px;
  padding: 15px;
}

.contenedor h3 {
  font-weight: 600;
}

form {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 25px;
  font-size: small;
}

.customSelect {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.customSelect select {
  background-color: #f3f3f4;
  border: 1px solid grey;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  color: rgb(77, 74, 74);
  cursor: pointer;
}

.customSelect select:hover {
  border: 1px solid #99d98c;
}

.contenedor {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 20px;
  padding: 10px;
}

.contenedor h3 {
  font-weight: 600;
  color: black;
}

form {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  font-size: small;
}

.psicologoPaciente {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
}

.psicologoPaciente label {
  display: flex;
  flex-direction: row;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label input {
  background-color: #f3f3f4;
  border: 1px solid grey;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  transition: backgground-color 0.2s, border 0.2s, box-shadow 0.2s;
}

input:hover {
  border: 1px solid #99d98c;
}

input:focus {
  border: 1px solid #99d98c;
}

.opciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.opciones p a {
  color: black;
  text-decoration: none;
}

.opciones p a:hover {
  opacity: 0.75;
  background: none;
  padding: 0;
}

.checkbox {
  display: flex;
  flex-direction: row;
}

.checkbox h4 {
  font-weight: 400;
  font-size: 12px;
}

.checkbox2 {
  display: flex;
  flex-direction: row;
}

.checkbox p {
  font-weight: 400;
  font-size: 12px;
}

.olvidasteContraseña {
  font-size: 12px;
}

.botones {
  display: flex;
  flex-direction: column;
}

.submit_boton:hover {
  opacity: 0.75;
  background-color: white;
  color: #99d98c;
  transition: 300ms;
  border: 1px solid #99d98c;
}

.submit_boton {
  background-color: #99d98c;
  color: white;
  font-weight: 500;
  font-size: 14pt;
  text-align: center;
  padding: 14px;
  border: 1px solid #99d98c;
  border-radius: 40px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}

.registro-link {
  font-size: 13px;
  display: flex;
  justify-content: center;
}

.button_boton {
  color: black !important;
  text-align: center;
  border: none;
  cursor: pointer;
}

.button_boton:hover {
  color: black !important;
  transition: 300ms;
  opacity: 0.7;
  padding: 0;
  margin: 0;
  background: none;
}

/*index NUEVO*/

.portadaTitulo {
  text-align: center;
  align-items: center;
  padding-top: 2rem;
}

.portada1 {
  display: flex;
}

.portadaIntro {
  align-items: center;
  text-align: center;
  margin-top: 10rem;
  margin-left: 20px;
}

.portadaTexto {
  font-size: 15px;
}

.botonIndex {
  background-color: rgb(131, 162, 239);
  color: white;
  font-weight: 500;
  font-size: 14pt;
  text-align: center;
  padding: 14px;
  border: 1px solid rgb(131, 162, 239);
  border-radius: 40px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}

.contenidoIndex {
  background-color: #b0c7aaa0;
  padding: 2rem;
  text-align: center;
}

.contenidoIndex2 {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.5rem;
}

.contenedorPasos {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 22rem;
  height: 6rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #e1edc3;
  line-height: 8px;
}

.parrafoI {
  text-decoration: none;
}

.contenidoIndex a :hover {
  background-color: rgb(242, 173, 121);
}

.indexProfesionales {
  padding: 2rem;
  display: flex;
  align-items: center;
}

.h2index {
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}

.h4index {
  color: #5e9183;
  padding: 1.5rem;
  font-size: 1.5rem;
}

.cajaProfesionales {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.profesionalIndex {
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 340px;
  border-color: #4a5063;
  font-size: 18px;
  background: rgb(235 235 235 / 80%);
  padding: 2px;
  height: 100px;
  border-radius: 25px;
  margin: 1rem;
}

.profesionalIndex1 {
  display: flex;
  margin-left: 20px;
  align-items: flex-end;
}

.profesionalIndex1 img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 1rem;
}

.valoracionIndex img {
  margin-left: 4.5rem;
  width: 160px;
  height: 35px;
}

.fraseIndex {
  text-align: center;
}

.hrI {
  padding: 20px;
  border-top: 5px double black;
  border-bottom: 5px double black;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.indexCp {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 2rem;
  padding: 1.5rem;
}

.pieIndex {
  display: flex;
  margin: 2rem;
  text-align: center;
  font-size: 20px;
  color: #7d9367;
}

/*index NUEVO FIN*/

/*CONTRASEÑA*/
.contraseñaContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  background-color: #99d98c40;
}

.contraseñaContainer img {
  width: 360px;
}

.contraseña {
  height: 510px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recuperarContraseña {
  width: 350px;
  margin: 10px;
  padding: 10px;
}

.recuperarContraseña h4 {
  color: #11296b;
  font-weight: 600;
  font-size: 27px;
}

.recuperarContraseña span {
  font-size: 17px;
}

.inputEmail {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  gap: 11px;
}

.inputEmail h4 {
  font-size: 20px;
  font-weight: 600;
}

.inputEmail input {
  width: 350px;
  display: flex;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px 20px;
  transition: backgground-color 0.2s, border 0.2s, box-shadow 0.2s;
}

.inputEmail input:hover {
  border: 1px solid #99d98c;
}

.inputEmail input:focus {
  border: 1px solid #99d98c;
}

.inputEmail button {
  width: 350px;
  padding: 5px 15px;
  border-radius: 8px;
  border: none;
  background-color: #99d98c;
  color: white;
  display: flex;
  justify-content: center;
}

.inputEmail button:hover {
  opacity: 0.75;
}

.back a {
  margin: 8px;
  font-size: 14px;
  text-decoration: none;
  color: rgb(88, 87, 87);
  background: none;
}

.back a:hover {
  opacity: 0.75;
  background: none;
  padding: 0;
}

/* FOOTER */
footer {
  background-color: #4a5063;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.picture_footer {
  height: 6rem;
  width: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

/* .footerMenu ul {
    display: flex;
    list-style: none;
    font-size: 12px;
    flex-direction: column;
    align-content: flex-start;
}

.footerMenu ul li a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.footerMenu ul li a:hover {
    opacity: 0.7;
    padding: 0;
    background: none;
} */

.redes_sociales_container {
  color: white;
}

.redesSociales img {
  filter: invert(1);
}

.redesSociales a:hover {
  background: none;
  padding: 0;
  margin: 0;
}

.mail_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newsletter {
  color: white;
  font-size: 11px;
  display: flex;
  align-items: center;
}

.newsletter span {
  width: 185px;
  margin-bottom: 3px;
}

.mail {
  display: flex;
}

.mail input {
  border: none;
}

.mail button {
  font-size: 14px;
  background-color: #5e9183;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
}

.mail button img {
  filter: invert(1);
  margin-top: 3px;
  cursor: pointer;
}

.copiFooter {
  background-color: #4a5063;
  font-size: 11px;
  color: white;
  text-align: center;
}

@media (max-width: 785px) {
  header {
    flex-wrap: wrap;
    flex-direction: column;
  }

  main {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .imagenLogin img {
    width: 80%;
    margin: 2em;
  }

  .contraseñaContainer img {
    width: 80%;
    margin: 2em;
  }

  footer {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 17px;
  }

  .picture_footer img {
    height: 3em;
  }

  .footerMenu {
    display: flex;
    justify-content: center;
  }

  .redes_sociales_container {
    display: flex;
    justify-content: center;
  }

  .cajaProfesionales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenidoIndex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedorPasos {
    height: auto;
    font-size: 18px;
    justify-content: center;
    margin: 1rem;
    width: 18rem;
    height: 6rem;
    line-height: 1rem;
  }

  .imgI {
    width: 400px;
  }

  .portada1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portadaIntro {
    margin-top: 2rem;
  }

  .ubicacion {
    width: 300px;
  }

  .indexProfesionales {
    display: flex;
    flex-direction: column-reverse;
  }

  .picture_footer {
    width: 7rem;
    height: 4rem;
  }

  /*perfil*/
  .totalPerf {
    margin: 0.2rem;
    flex-direction: column;
    align-items: center;
  }

  .areaDerPerf {
    flex-direction: column;
    align-items: center;
  }

  .supDerPerf {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }

  .profesPerf {
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
  }

  .inferDerPerf {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }
  .containerP{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    margin: 1rem;
  }
  .containerP img{
    width: auto;
  }
  /*Profesionales*/
  .medio {
    font-size:6vh;
  }

  .costado {
    display: flex;
    justify-content: space-around;
  }

  .turno {
    justify-content: flex-start;
    width: 55vh;
    align-items: stretch;
  }

  .swiper-slide{
    width: 100% !important;
  }
}

@media (max-width: 400px) {
  header {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .menu nav {
    justify-content: center;
    flex-direction: column;
  }

  main {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .imagenLogin img {
    width: 80%;
  }

  .contenedor form {
    width: 12rem;
  }

  .contraseñaContainer img {
    width: 80%;
    margin: 2em;
  }

  .recuperarContraseña {
    width: 12rem;
  }

  .recuperarContraseña h4 {
    font-size: 17px;
  }

  .recuperarContraseña span {
    font-size: 13px;
  }

  .inputEmail {
    width: 12rem;
  }

  .inputEmail input {
    width: 12rem;
    font-size: 13px;
  }

  .inputEmail button {
    width: 12rem;
    font-size: 13px;
  }

  .back {
    font-size: 13px;
  }

  footer {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 17px;
  }

  .picture_footer img {
    height: 3em;
  }

  .footerMenu {
    display: flex;
    justify-content: center;
  }

  .redes_sociales_container {
    display: flex;
    justify-content: center;
  }

  .cajaProfesionales {
    display: flex;
    flex-direction: column;
  }

  .contenidoIndex2 {
    display: flex;
    flex-direction: column;
  }

  .contenedorPasos {
    height: auto;
    font-size: 12px;
    justify-content: flex-start;
    margin: 1rem;
    width: 15rem;
    height: 6rem;
    line-height: 8px;
  }

  .ubicacion {
    width: 250px;
  }

  .indexProfesionales {
    display: flex;
    flex-direction: column-reverse;
  }

  /*perfil*/
  .totalPerf {
    margin: 0.2rem;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .areaDerPerf {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .supDerPerf {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: auto;
  }

  .profesPerf {
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    margin: 1rem;
    padding: 1rem;
  }

  .inferDerPerf {
    width: auto;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }
  .containerP{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    margin: 1rem;
  }
  .containerP img{
    width: auto;
  }
  /*Profesionales*/
  .medio {
    font-size:6vh;
  }

  .costado {
    display: flex;
    justify-content: space-around;
  }

  .turno {
    justify-content: flex-start;
    width: 55vh;
    align-items: stretch;
  }

  .swiper-slide{
    width: 100% !important;
  }
}